*{
	font-family:arial;
	
}


/* 
https://www.color-name.com/chameleon-green.color


the following link is the list of fonts for dyslexia readers
https://exceptionalindividuals.com/about-us/blog/our-top-10-dyslexia-friendly-fonts/ 

otherwise the list of fonts can be found here
https://fonts.google.com/
*/