<!DOCTYPE html>
<html>
	<head>
		<title>CC's Cookbook</title>
		<meta charset="utf-8">
		<link href="styles/CCcookbook.css" rel="stylesheet">
		
	</head>
	<body>
		
		<header>
			CYBORGCHAMELEON 
			<nav>
				<ul>
					<li>feature coming soon</li>
					<li>feature coming soon</li>
				</ul>
			</nav>
		</header>
		<nav>
		<p>List of meals</p>
			<ul>
				<li>pizza</li>
				<li>pizza</li>
				<li>pizza</li>
				<li>pizza</li>
				<li>pizza</li>
				<li>pizza</li>
			</ul>
		<p>parts</p>
		</nav>
		<main>
		do your own thing here
			<!--
			<article>
				<title>Title of this article</title>
				<section>
					<title></title>
					<p></p>
				</section>
			</article>
			-->
		</main>
		<aside></aside>
		<footer></footer>
		<script src="scripts/CCcookbook.js"></script>
	</body>
</html>