<!DOCTYPE html>
<html>
	<head>
		<title>Lorem ipsum</title>
		<meta charset="utf-8">
		<link href="styles/style1.css" rel="stylesheet">
	</head>
	<body>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
		Aliquam finibus dolor at dolor hendrerit lacinia. Maecenas 
		rhoncus eleifend purus. Aliquam eu aliquet purus, sed 
		scelerisque augue. Ut tincidunt nec nunc non pretium. Nullam 
		sit amet enim pellentesque, iaculis ante quis, accumsan metus.
		Pellentesque habitant morbi tristique senectus et netus et 
		malesuada fames ac turpis egestas. Integer velit lorem, 
		ullamcorper a cursus maximus, porttitor vel diam. Suspendisse
		finibus venenatis risus quis auctor.

		Donec nisi libero, commodo fermentum porttitor in, gravida 
		vitae urna. Donec vestibulum pellentesque diam, vel cursus mi
		tempus sit amet. In ut dolor molestie, imperdiet felis eu, 
		rutrum nisl. Duis non tristique leo. Phasellus augue velit, 
		scelerisque a blandit eu, gravida et metus. Ut libero dolor, 
		auctor ac dui non, hendrerit mattis orci. Integer at suscipit
		nulla, vel feugiat lectus. Pellentesque nec pretium neque. 
		Donec egestas sem eget mollis blandit. Praesent eleifend elit
		eget commodo porta.

		Aenean malesuada mauris felis, nec pellentesque eros fringilla
		vel. Nulla sed luctus velit. Cras luctus ex nunc, ut feugiat 
		quam efficitur nec. Proin ut ipsum malesuada eros eleifend 
		laoreet vel vitae risus. In pulvinar convallis viverra. Cras
		varius sapien erat, at mattis turpis dignissim eu. Aliquam 
		erat volutpat. Morbi et turpis quis erat tincidunt finibus. 
		Aliquam laoreet ut velit ac vehicula. Duis malesuada magna eu
		nisl placerat accumsan. Proin eu venenatis neque. Pellentesque
		habitant morbi tristique senectus et netus et malesuada fames
		ac turpis egestas. Aliquam non tristique nisi. Curabitur 
		efficitur velit nec ultricies gravida.

		Vivamus tristique sit amet velit vel fringilla. Sed eget eros
		eu sapien vehicula rutrum non eu massa. Sed vitae lorem eros.
		Donec pretium placerat volutpat. Proin dapibus nec leo quis 
		pulvinar. Aenean elementum ultricies leo, id malesuada justo 
		imperdiet vitae. Sed rhoncus, felis sed tempor euismod, tortor
		est facilisis tellus, vitae dignissim dui sem nec nibh. 
		Curabitur ac dignissim leo. Pellentesque lorem sapien, tristique 
		at fermentum et, volutpat vel sem.

		Vivamus eros sem, faucibus in pharetra et, lacinia in mi. 
		Aenean sit amet tellus diam. Aliquam in neque eu enim accumsan
		venenatis. Suspendisse lorem orci, efficitur nec ornare eget, 
		lacinia elementum felis. Nam porta lectus a neque vestibulum 
		luctus. Nulla facilisi. Proin imperdiet quam in lacus interdum 
		luctus. Morbi velit odio, pulvinar eget mi non, sollicitudin 
		dictum eros. Integer mattis ipsum sem, non sollicitudin mauris 
		convallis sed. Donec eget metus risus. Duis interdum elementum 
		ante, vel interdum metus fermentum at. Fusce et ultricies 
		tortor. Pellentesque ut fringilla risus, sed imperdiet leo.
		<script src="scripts/script1.js"></script>
	</body>
</html>